/* Global css */

p.material-icons {
  margin: 0;
}

#success-alert {
  display: none;
}

#danger-alert {
  display: none;
}

/* Config panel */
#left-menu {
  position: fixed;
  bottom: 0;
  display: none;
  height: 100%;
  width: 0%;
  z-index: 9999;
  background-color: #efecca;
  color: #b36442;
}

#left-menu div h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem;
}

#left-menu form {
  margin: 1rem;
}

/* Header bar */

nav.navbar {
  width: 100%;
  z-index: 10;
  border-radius: 0;
  background-color: #efecca;
}

a.nav-link {
  color: #b36442;
}

#login-dp {
  padding: 0.5rem;
}

/* Pini css */

#pini {
  padding: 4.5rem 0 4.5rem 0;
  z-index: 1;
}

span.post_clock {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 5px;
}

span.post_clock::before {
  content: "[";
}

span.post_clock::after {
  content: "]";
}

span.post_login {
  color: brown;
  display: inline-block;
  max-width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 5px;
}

span.post_ua {
  color: lightcoral;
  display: inline-block;
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 5px;
}

span.post_message {
  white-space: normal;
}

span.totoz {
  color: #0a1;
  font-weight: bolder;
  cursor: pointer;
}

span.clock_ref {
  color: #00d;
  cursor: pointer;
}

span.norloge_ref_meta {
  display: none;
}

.highlighted {
  background-color: yellow;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

/* Palmi css */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 10;
}

#popup {
  display: none;
  background-color: transparent;
}

#palmi {
  margin-bottom: 0.5rem;
  overflow: hidden;
  width: 100%;
}

#palmi input {
  flex: 1 0 auto;
  padding-left: 0.5rem;
}
